version: '3.8'

services:
  app-frontend:
    build: .
    container_name: pet-manager-front
    restart: always
    ports:
      - "80:80"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/"]
      interval: 30s
      timeout: 10s
      retries: 3